/*********************************************
 * CUSTOM CSS
 *********************************************/

 .reveal .slide-background.present{
	filter:alpha(opacity=20);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.2);
    opacity:.25;
 }

.reveal #greyAllPage{
	text-align: left;
	background-color: rgb(17, 17, 17);
	width: 400%;
	height: 400%;
	position: absolute;
	top: -150%;
	left: -150%;
	opacity: 0.8;
	z-index:5;
}
