/*********************************************
 * CUSTOM CSS
 *********************************************/

.reveal .slide-background.present{
	filter: alpha(opacity=20);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.2);
    opacity: .25;
 }

.reveal .quote {
	font-size: 0.9em;
}

.reveal .quote-author {
	font-size: 0.7em;
}

.reveal .highlight {
	color: rgb(170, 255, 0);
	font-weight:bold;
}

.reveal .good {
	background-color: rgb(85, 204, 0);
}

.reveal .bad {
	background-color: rgb(127, 38, 38);
}

.reveal .left {
	float: left;
}

.reveal .right {
	float: right;
}

.reveal .fixed {
	width: 400px;
}

.reveal .imageRight{
	float: right;
	height: 100%;
	vertical-align: middle;
	display: inline-block;
}

.reveal .imageLeft{
	float: left;
	height: 100%;
	vertical-align: middle;
	display: inline-block;
}
.reveal .bad-data {
	font-size: 5em;
	color: rgb(127, 38, 38);
}
